<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>Signin Form</title>
        <link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
    </head>

    <body class="text-center">
        <form class="form-signin" method="post" action="{{ path('security_login_check') }}">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">{{ 'app.title.login'|trans }}</h1>
            <label for="inputEmail" class="sr-only">{{ 'app.label.username'|trans }}</label>
            <input type="text" id="inputEmail" name="_username" class="form-control" placeholder="{{ 'app.placeholder.username'|trans }}" required autofocus>
            <label for="inputPassword" class="sr-only">{{ 'app.label.password'|trans }}</label>
            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="{{ 'app.placeholder.password'|trans }}" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'app.action.login'|trans }}</button>
            <p class="mt-5 mb-3 text-muted">&copy; {{ "now"|date('Y') }}</p>
        </form>
    </body>
</html>

