{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Symfony 3.4 + Flex Starter</h1>
            <p>Symfony 3.4 + Flex + Propel2 starter kit.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="https://symfony.com/doc/3.4/index.html" role="button" target="_blank">Learn more about symfony &raquo;</a>
                <a class="btn btn-success btn-lg" href="http://propelorm.org/documentation/" role="button" target="_blank">Learn more about propel &raquo;</a>
            </p>
        </div>
    </div>
{% endblock %}