{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">{{ 'app.action.update_password'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
